body{
    margin: 0;
    padding: 0;
}
#main {
    display: flex;
    justify-content: center;
    align-items: center;

}

input {
    width: 20%;
    height: 110px;
    background-color: lightyellow;
    font-size: 35px;
    margin: 2px;
    border: 1px solid #000;
    cursor: pointer;
}
#box {
    width: 84%;
    height: 80px;
    border: 1px solid #000;
    cursor: default;
    background-color: rgb(235, 232, 232);
}

@media screen and (max-width: 550px) {
    #main {
        padding-left: 10%;
        padding-top: 5%;
    }
    
}
    
